.header-hbox, .footer {
    -fx-background-color: #333 !important;
}

.menu-button {
    -fx-background-color: #274634 !important;
}

.menu-button:hover {
    -fx-background-color: #3b5747 !important;
}

.menu-vbox {
    -fx-background-color: #072a16 !important;
    -fx-font-weight: bold !important;
}

.active-button {
    -fx-background-color: #60776a !important;
    -fx-text-fill: #f5efed !important;
}

.active-button:hover {
    -fx-background-color: #3b5747 !important;
}

.footer-label, .menu-button,
#filePathLabel, #fileNameLabel, #monitoringFrequencyLabel, #memoryUsageLabel, #cpuUsageLabel {
    -fx-text-fill: #f5efed !important;
}

/* Tab, images, settings contents */
.root, .images-layout.dark-theme-images {
    -fx-background-color: #3c3f41;
}

#versionStatusLabel, .labelAboveTerminal, #settingsDir {
    -fx-text-fill: #f5efed;
}

.result-text {
    -fx-fill: #f5efed !important;
}

/* Scripts - scroll pane */
.scripts-scroll-pane {
    -fx-background: #3c3f41;
    -fx-background-color: #3c3f41;
}

.scripts-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scripts-scroll-pane .scroll-bar:vertical,
.scripts-scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #2b2b2b;
    -fx-background-insets: 0, 0, 1, 1;
}

#categoryContainer {
    -fx-background-color: #3c3f41;
}
