.header-hbox, .footer {
    -fx-background-color: #333 !important;
}

.menu-button {
    -fx-background-color: #274634 !important;
}

.menu-button:hover {
    -fx-background-color: #3b5747 !important;
}

.menu-vbox {
    -fx-background-color: #072a16 !important;
    -fx-font-weight: bold !important;
}

.active-button {
    -fx-background-color: #60776a !important;
    -fx-text-fill: #f5efed !important;
}

.active-button:hover {
    -fx-background-color: #3b5747 !important;
}

.footer-label, .menu-button {
    -fx-text-fill: #f5efed !important;
}

/* Tab, images, settings contents */
.root, .images-layout.dark-theme-images {
    -fx-background-color: #3c3f41;
}

#versionStatusLabel, .labelAboveTerminal, .labelBeforeUrlField, #settingsDir {
    -fx-text-fill: #f5efed;
}