.header-hbox {
    -fx-background-color: #f0f0f0;
    -fx-padding: 5px;
}

.menu-button {
    -fx-font-size: 16px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-pref-width: 200px;
    -fx-max-width: infinity;
}

.menu-button:hover {
    -fx-background-color: #66BB6A;
}

.menu-vbox {
    -fx-background-color: #2E7D32;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.clickable {
    -fx-cursor: hand;
}

.footer {
    -fx-background-color: #f0f0f0;
}

.tab {
    -fx-font-size: 16px;
}

.settings-container, .tab-container {
    -fx-font-size: 16px;
}

.images-layout {
    -fx-alignment: center;
}

.images-layout TilePane {
    -fx-alignment: center;
}

.images-layout .image-view {
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.active-button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
}

.active-button:hover {
    -fx-background-color: #d2d1d1;
    -fx-text-fill: black;
}

.bold-label {
    -fx-font-weight: bold;
}

.button-save {
    -fx-graphic: url('../images/save-30.png');
}

.button-home {
    -fx-graphic: url('../images/header/home-30.png');
}

.button-return {
    -fx-graphic: url('../images/return-30.png');
}

.button-clear {
    -fx-graphic: url('../images/recycle-bin-30.png');
}

.notification-label {
    -fx-background-color: #f0f4c3;
    -fx-border-color: #cddc39;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 15;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}

/**
   Sidebar - ping tab
 */
.text-area .content {
    -fx-background-color: black;
}

.text-area {
    -fx-text-fill: limegreen;
    -fx-font-family: "Consolas", "Monaco", monospace;
    -fx-font-size: 12px;
}